@model GaleriaArte.Models.Exposicion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exposicion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
    </dl>
</div>

@await Html.PartialAsync("_ObrasExpuestas", Model)

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-action="SeleccionObras" asp-route-id=@Model.Id>Agregar Obras</a>
</div>
@if (Model.ObrasExpuestas == null || Model.ObrasExpuestas.Count() == 0)
{
    <h2>No hay obras expuestas.</h2>
}
else
{
    
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Imagen</th>
                <th>Eliminar Obra</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obra in Model.ObrasExpuestas)
            {
                <tr>
                    <td>@obra.Titulo</td>
                    <td><img src="@obra.UrlImagen" height="50" /></td>
                    <td><a asp-action="QuitarObra" asp-route-idExpo="@Model.Id" asp-route-idObra="@obra.Id" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            }

        </tbody>
    </table>
}
