@model List<Obra>

<div id="carouselObras" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-inner">

        @{
            var first = true;
        }

        @foreach (var item in Model)
        {
            <div class="carousel-item @(first ? "active" : "")">
                <div class="card border-0">
                    <img src="@item.UrlImagen" class="d-block w-100" style="height:400px; object-fit:cover;" />

                    <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
                        <h5>@item.Titulo</h5>
                        <p>@item.Artista.Nombre</p>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-light btn-sm">
                            Ver detalle
                        </a>
                    </div>
                </div>
            </div>

            first = false;
        }

    </div>

    <!-- Botones -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselObras" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselObras" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>