@model GaleriaArte.Models.Obra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>



<div class="row row-cols-1 row-cols-md-2">
    <div class="col">
        <img src="@Model.UrlImagen" height="400" class="" />
    </div>
    <div class="col">
        <h3>@Model.Titulo</h3>
        <p>
            Estilo: @Model.Estilo
        </p>
        <p>
            Artista: @Model.Artista.Nombre
            País: @Model.Artista.Pais
        </p>
        <a asp-controller="Exposicion" asp-action="Details" asp-route-id="@ViewBag.idExpo">Volver a la expo</a>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
